################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Release
/SDK
/.vs
*.sdf
*.opensdf
/Debug
/out/*.*
/src/Debug/
/src/.vs/XPAirbusSystems/v14
/src/SDK210Tests.vcxproj.user
